---
import PostCard from "../components/PostCard";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "@repo/contents";

const posts = getPosts();
---

<Layout title="Blog">
  <main>
    <article>
      {
        posts.map((post) => {
          return <PostCard {...post} />;
        })
      }
    </article>
  </main>
</Layout>
