---
import Layout from "../layouts/Layout.astro";
import { getPosts } from "@repo/contents";

const posts = getPosts();
---

<Layout title="Blog">
  <main>
    <article>
      {
        // posts.map((post) => {
        //   return <a href={`/tech-blog/${post.slug}`}>{post.title}</a>;
        // })
      }
    </article>
  </main>
</Layout>
