---
import "../styles/style.css";
import "highlight.js/styles/github-dark.css";
import Footer from "../components/Footer.astro";
import HeaderMenu from "../components/HeaderMenu";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <script>
      const classList = document.documentElement.classList;
      const sessionTheme = sessionStorage.getItem("theme");
      switch (sessionTheme) {
        case "dark":
          classList.add("dark");
        case "system":
          if (matchMedia("(prefers-color-scheme: dark)").matches) {
            classList.add("dark");
          } else {
            classList.remove("dark");
          }
          break;
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <HeaderMenu client:load />
    <slot />
    <Footer />
  </body>
</html>

<style is:global></style>
