.blog-article {
  blockquote {
    @apply relative border-l-4 border-emerald-800 pl-2;
  }

  blockquote:before {
    content: "format_quote";
    font-family: "Material Symbols Outlined";
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 28px;
  }
}
